:root[data-theme="light"] {
  --md-sys-color-primary: rgb(65 104 52);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(194 239 174);
  --md-sys-color-on-primary-container: rgb(42 79 31);
  --md-sys-color-secondary: rgb(84 98 77);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(215 231 204);
  --md-sys-color-on-secondary-container: rgb(61 75 54);
  --md-sys-color-tertiary: rgb(56 102 104);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(188 235 237);
  --md-sys-color-on-tertiary-container: rgb(30 78 80);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-primary-fixed: rgb(194 239 174);
  --md-sys-color-primary-fixed-dim: rgb(167 211 148);
  --md-sys-color-on-primary-fixed: rgb(3 33 0);
  --md-sys-color-on-primary-fixed-variant: rgb(42 79 31);
  --md-sys-color-secondary-fixed: rgb(215 231 204);
  --md-sys-color-secondary-fixed-dim: rgb(188 203 177);
  --md-sys-color-on-secondary-fixed: rgb(18 31 14);
  --md-sys-color-on-secondary-fixed-variant: rgb(61 75 54);
  --md-sys-color-tertiary-fixed: rgb(188 235 237);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 209);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 33);
  --md-sys-color-on-tertiary-fixed-variant: rgb(30 78 80);
  --md-sys-color-surface-dim: rgb(220 218 206);
  --md-sys-color-surface: rgb(252 250 237);
  --md-sys-color-surface-bright: rgb(252 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 244 231);
  --md-sys-color-surface-container: rgb(240 238 225);
  --md-sys-color-surface-container-high: rgb(234 233 220);
  --md-sys-color-surface-container-highest: rgb(229 227 214);
  --md-sys-color-on-surface: rgb(28 28 20);
  --md-sys-color-on-surface-variant: rgb(71 72 59);
  --md-sys-color-outline: rgb(120 120 106);
  --md-sys-color-outline-variant: rgb(200 199 183);
  --md-sys-color-inverse-surface: rgb(49 49 40);
  --md-sys-color-inverse-on-surface: rgb(243 241 228);
  --md-sys-color-inverse-primary: rgb(167 211 148);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-shadow: rgb(0 0 0);
}

:root[data-theme="light-medium-contrast"] {
  --md-sys-color-primary: rgb(26 62 15);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(80 119 66);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(45 58 39);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(99 113 91);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(7 61 63);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(71 116 119);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-primary-fixed: rgb(80 119 66);
  --md-sys-color-primary-fixed-dim: rgb(56 94 44);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(99 113 91);
  --md-sys-color-secondary-fixed-dim: rgb(75 89 68);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(71 116 119);
  --md-sys-color-tertiary-fixed-dim: rgb(46 92 94);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(200 199 187);
  --md-sys-color-surface: rgb(252 250 237);
  --md-sys-color-surface-bright: rgb(252 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 244 231);
  --md-sys-color-surface-container: rgb(234 233 220);
  --md-sys-color-surface-container-high: rgb(223 221 209);
  --md-sys-color-surface-container-highest: rgb(212 210 198);
  --md-sys-color-on-surface: rgb(17 18 10);
  --md-sys-color-on-surface-variant: rgb(54 55 43);
  --md-sys-color-outline: rgb(83 83 70);
  --md-sys-color-outline-variant: rgb(110 110 96);
  --md-sys-color-inverse-surface: rgb(49 49 40);
  --md-sys-color-inverse-on-surface: rgb(243 241 228);
  --md-sys-color-inverse-primary: rgb(167 211 148);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-shadow: rgb(0 0 0);
}

:root[data-theme="light-high-contrast"] {
  --md-sys-color-primary: rgb(15 51 6);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(45 82 33);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(35 48 29);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(63 77 57);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 50 52);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(33 80 82);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-primary-fixed: rgb(45 82 33);
  --md-sys-color-primary-fixed-dim: rgb(22 58 12);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(63 77 57);
  --md-sys-color-secondary-fixed-dim: rgb(41 54 35);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(33 80 82);
  --md-sys-color-tertiary-fixed-dim: rgb(2 57 59);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(186 185 173);
  --md-sys-color-surface: rgb(252 250 237);
  --md-sys-color-surface-bright: rgb(252 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 241 228);
  --md-sys-color-surface-container: rgb(229 227 214);
  --md-sys-color-surface-container-high: rgb(214 213 200);
  --md-sys-color-surface-container-highest: rgb(200 199 187);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(44 45 34);
  --md-sys-color-outline-variant: rgb(73 74 61);
  --md-sys-color-inverse-surface: rgb(49 49 40);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(167 211 148);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-shadow: rgb(0 0 0);
}

:root[data-theme="dark"] {
  --md-sys-color-primary: rgb(167 211 148);
  --md-sys-color-on-primary: rgb(19 56 10);
  --md-sys-color-primary-container: rgb(42 79 31);
  --md-sys-color-on-primary-container: rgb(194 239 174);
  --md-sys-color-secondary: rgb(188 203 177);
  --md-sys-color-on-secondary: rgb(39 52 33);
  --md-sys-color-secondary-container: rgb(61 75 54);
  --md-sys-color-on-secondary-container: rgb(215 231 204);
  --md-sys-color-tertiary: rgb(160 207 209);
  --md-sys-color-on-tertiary: rgb(0 55 57);
  --md-sys-color-tertiary-container: rgb(30 78 80);
  --md-sys-color-on-tertiary-container: rgb(188 235 237);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-primary-fixed: rgb(194 239 174);
  --md-sys-color-primary-fixed-dim: rgb(167 211 148);
  --md-sys-color-on-primary-fixed: rgb(3 33 0);
  --md-sys-color-on-primary-fixed-variant: rgb(42 79 31);
  --md-sys-color-secondary-fixed: rgb(215 231 204);
  --md-sys-color-secondary-fixed-dim: rgb(188 203 177);
  --md-sys-color-on-secondary-fixed: rgb(18 31 14);
  --md-sys-color-on-secondary-fixed-variant: rgb(61 75 54);
  --md-sys-color-tertiary-fixed: rgb(188 235 237);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 209);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 33);
  --md-sys-color-on-tertiary-fixed-variant: rgb(30 78 80);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(57 58 49);
  --md-sys-color-surface-container-lowest: rgb(14 15 8);
  --md-sys-color-surface-container-low: rgb(28 28 20);
  --md-sys-color-surface-container: rgb(32 32 24);
  --md-sys-color-surface-container-high: rgb(42 43 34);
  --md-sys-color-surface-container-highest: rgb(53 53 45);
  --md-sys-color-on-surface: rgb(229 227 214);
  --md-sys-color-on-surface-variant: rgb(200 199 183);
  --md-sys-color-outline: rgb(146 146 130);
  --md-sys-color-outline-variant: rgb(71 72 59);
  --md-sys-color-inverse-surface: rgb(229 227 214);
  --md-sys-color-inverse-on-surface: rgb(49 49 40);
  --md-sys-color-inverse-primary: rgb(65 104 52);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-shadow: rgb(0 0 0);
}

:root[data-theme="dark-medium-contrast"] {
  --md-sys-color-primary: rgb(188 233 168);
  --md-sys-color-surface-tint: rgb(167 211 148);
  --md-sys-color-on-primary: rgb(7 45 2);
  --md-sys-color-primary-container: rgb(114 156 98);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(209 225 198);
  --md-sys-color-on-secondary: rgb(28 41 23);
  --md-sys-color-secondary-container: rgb(134 149 125);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(181 229 231);
  --md-sys-color-on-tertiary: rgb(0 43 45);
  --md-sys-color-tertiary-container: rgb(107 153 155);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(71 72 59);
  --md-sys-color-on-surface-variant: rgb(222 221 204);
  --md-sys-color-outline: rgb(179 179 163);
  --md-sys-color-outline-variant: rgb(145 145 130);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 227 214);
  --md-sys-color-inverse-on-surface: rgb(42 43 34);
  --md-sys-color-inverse-primary: rgb(43 81 32);
  --md-sys-color-primary-fixed: rgb(194 239 174);
  --md-sys-color-on-primary-fixed: rgb(1 21 0);
  --md-sys-color-primary-fixed-dim: rgb(167 211 148);
  --md-sys-color-on-primary-fixed-variant: rgb(26 62 15);
  --md-sys-color-secondary-fixed: rgb(215 231 204);
  --md-sys-color-on-secondary-fixed: rgb(8 20 5);
  --md-sys-color-secondary-fixed-dim: rgb(188 203 177);
  --md-sys-color-on-secondary-fixed-variant: rgb(45 58 39);
  --md-sys-color-tertiary-fixed: rgb(188 235 237);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 21);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 209);
  --md-sys-color-on-tertiary-fixed-variant: rgb(7 61 63);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(69 69 60);
  --md-sys-color-surface-container-lowest: rgb(7 8 3);
  --md-sys-color-surface-container-low: rgb(30 30 22);
  --md-sys-color-surface-container: rgb(40 40 32);
  --md-sys-color-surface-container-high: rgb(51 51 43);
  --md-sys-color-surface-container-highest: rgb(62 62 53);
}

:root[data-theme="dark-high-contrast"] {
  --md-sys-color-primary: rgb(207 253 186);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(163 207 144);
  --md-sys-color-on-primary-container: rgb(1 15 0);
  --md-sys-color-secondary: rgb(229 245 217);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(184 199 173);
  --md-sys-color-on-secondary-container: rgb(4 14 2);
  --md-sys-color-tertiary: rgb(201 249 251);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(156 203 205);
  --md-sys-color-on-tertiary-container: rgb(0 14 15);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-primary-fixed: rgb(194 239 174);
  --md-sys-color-primary-fixed-dim: rgb(167 211 148);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-on-primary-fixed-variant: rgb(1 21 0);
  --md-sys-color-secondary-fixed: rgb(215 231 204);
  --md-sys-color-secondary-fixed-dim: rgb(188 203 177);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-on-secondary-fixed-variant: rgb(8 20 5);
  --md-sys-color-tertiary-fixed: rgb(188 235 237);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 209);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 21);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(81 81 71);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(32 32 24);
  --md-sys-color-surface-container: rgb(49 49 40);
  --md-sys-color-surface-container-high: rgb(60 60 51);
  --md-sys-color-surface-container-highest: rgb(71 71 62);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(242 241 223);
  --md-sys-color-outline-variant: rgb(196 195 179);
  --md-sys-color-inverse-surface: rgb(229 227 214);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(43 81 32);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-shadow: rgb(0 0 0);
}

:root {
  --md-sys-typescale-display-large-font: 'Pretendard', sans-serif;
  --md-sys-typescale-display-medium-font: 'Pretendard', sans-serif;
  --md-sys-typescale-display-small-font: 'Pretendard', sans-serif;
  --md-sys-typescale-headline-large-font: 'Pretendard', sans-serif;
  --md-sys-typescale-headline-medium-font: 'Pretendard', sans-serif;
  --md-sys-typescale-headline-small-font: 'Pretendard', sans-serif;
  --md-sys-typescale-title-large-font: 'Pretendard', sans-serif;
  --md-sys-typescale-title-medium-font: 'Pretendard', sans-serif;
  --md-sys-typescale-title-small-font: 'Pretendard', sans-serif;
  --md-sys-typescale-body-large-font: 'Pretendard', sans-serif;
  --md-sys-typescale-body-medium-font: 'Pretendard', sans-serif;
  --md-sys-typescale-body-small-font: 'Pretendard', sans-serif;
  --md-sys-typescale-label-large-font: 'Pretendard', sans-serif;
  --md-sys-typescale-label-medium-font: 'Pretendard', sans-serif;
  --md-sys-typescale-label-small-font: 'Pretendard', sans-serif; 
  --md-sys-typescale-emphasized-display-large-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-display-medium-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-display-small-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-headline-large-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-headline-medium-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-headline-small-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-title-large-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-title-medium-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-title-small-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-body-large-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-body-medium-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-body-small-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-label-large-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-label-medium-font: var(--font-song-myung), serif;
  --md-sys-typescale-emphasized-label-small-font: var(--font-song-myung), serif;
}